apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-api
  namespace: dev
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-api
  template:
    metadata:
      labels:
        app: nginx-api
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "100m"
          limits:
            memory: "200Mi"
